<!DOCTYPE html>
<html lang="en">
  <head><% include partials/page/head.ejs %></head>
  <body class="<%= classname %>">
 
    <% include partials/page/header.ejs %>

  	<div class="container">
  	  <h1><%= pagetitle %><%= title %></h1><br>
      <h2>Welcome to the wonderland!!!</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse bibendum, ante sit amet aliquam tempus, dui libero pharetra nibh, vitae volutpat est quam quis augue. Etiam  sollicitudin magna, ac venenatis libero. Sed risus sapien, ultrices eu varius et, eleifend a enim. Nulla in nunc fringilla, ultrices justo eget, pellentesque ipsum. In hac habitasse platea dictumst. Vestibulum consectetur consequat enim, vel sagittis ex egestas at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin interdum pellentesque bibendum. Sed hendrerit varius sapien, quis pellentesque nunc. Duis vestibulum pellentesque ornare. Etiam nunc tortor, consequat vel sem ac, maximus euismod ex. Donec sit amet faucibus nun, ullamcorper varius est. Donec pretium nec nisi at scelerisque.</p>
  	</div>
   
    <% include partials/page/footer.ejs %>
    <% include partials/page/jsdefaults.ejs %>


  </body>
</html>

